@import 'settings';

body {
  font-family: $font-family;
  font-weight: normal;
  font-smoothing: antialiased;
  margin: 0;
  position:relative;
  overflow-y: hidden;
}


* {
  box-sizing: border-box;
}
a{
  cursor: pointer;
  text-decoration:none;
}

a:link{
  color: inherit;
}

::-webkit-scrollbar
{
	width: 6px;
}
::-webkit-scrollbar-thumb
{
  border-left:4px solid rgba(0, 0, 0, 0.35);
}