.postsview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.height {
  height: 1100px;
}
.main-view{
  background-color: #F5F8FA;
}
.grid-centered{
  justify-content:center;
}
.main-grid{
  max-width:590px;
}
