.snackbar-wrapper {
    position: fixed;
    display: block;
    top: 0;
    //right: 50%;
    height: 2px;
    //width: 300px;
    width: 100vw;
    //transform: translate(50%,0);
    z-index: 8000;
    overflow: hidden;
}

.post-list-footer{
    min-height: 110px;
    z-index:2;
    margin: 30px 0;
    text-align:center;
    width: 100%;
}
.post-list-refresh{
    min-height: 110px !important;
    margin: 0 !important;
}
.posts-loader{
    margin-top: 30px;
}